<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="side-bar">
	<div id="mySidenav" class="sidenav">
  	<div style="height:26px;">
  		<div class="family" aria-label="Families">
  			Families <%= link_to 'new family', new_family_path %>
        <ul class="nav nav-tabs">
  			 <% @family.each do |fam| %> 
          <li> <%= link_to fam.name, family_path(fam.id)%> </li>	
         <% end %>
        </ul>
  		</div>
  	</div>
	</div>
</div>

	
</body>
</html>