<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="side-bar">
	<div id="mySidenav" class="sidenav">
  	<div style="height:26px;">
  		<div class="family" aria-label="Families">
  			Families <%= link_to 'new family', new_family_path %>
  				
  		</div>
  	</div>
	</div>
</div>

<div class="msg_bx text-center">
	<h1> test </h1>
	<h1> test </h1>
	<h1> test </h1>
	<h1> test </h1>
	<h1> test </h1>

</div>
	
</body>
</html>